    body{
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: black solid 5px;
    text-align: center;}

img{
    border-radius: 200px;
    width: 200px;
    padding: 5px 0 0 0;
}

.perfil{
    font-size: 28px;
    color: brown;
    font-weight: bold;
}

h1{
    font-size: 36px;
}


